.the-footer {
    font-size: 10px;
    line-height: 20px;
    padding: 26px 0;
    text-align: center;
    color: $color-font-light;

    @include a-hover();

    a {
        margin: 0;
    }

    h4 {
        margin-top: 0;
    }

    .back-to-top {
        position: fixed;
        bottom: .5rem;
        right: .5rem;
        text-align: center;
        color: $color-rgba;
        background: transparent;
    }

    .social-links {
        $icon-size: 42px;

        a {
            padding: 0;
            display: inline-block;
            width: $icon-size;
            height: $icon-size;
            margin: 1.5px;
            background-size: $icon-size $icon-size;
        }
    }
}

@import '../common/social-icons';