.the-header .unit-head {
    padding: 12px 26px 12px;
    text-align: center;

    .nav-global {
        .logo {
            font-weight: bold;
            display: block;
            padding-bottom: 18px;

            a {
                font-size: 1.5em;
            }

            .btn-menu {
                float: left;
                display: none;
            }

            .btn-search {
                float: right;
                display: none;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                @include a-hover();
            }
        }
    }
}