@media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
        line-height: 2em;
    }

    .body .unit-body {
        padding: 10px;
    }

    h2,
    h3,
    h4 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    h1,
    h2 {
        line-height: 32px;
    }

    .the-header .unit-head {
        padding: 16px 8px 8px;

        .nav-global .logo {
            padding-bottom: 0;

            a {
                margin-left: 14px;
                padding-top: 6px;
                padding-bottom: 6px;
            }

            .btn-menu,
            .btn-search {
                display: inline;

                cursor: pointer;
            }
        }

        .nav-global ul li {
            display: none;

            .btn-search {
                display: none;
            }
        }
    }

    .the-footer .social-links a {
        width: 32px;
        height: 32px;

        background-size: 32px 32px;
    }

    .unit-article {
        code.highlighter-rouge {
            font-size: 10px;
        }

        figure.highlight, div.highlight {
            pre {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &.layout-post {
            .misc-content {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .unit-article {
        .year,
        header h1 {
            text-align: center;
        }

        .date {
            display: none;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .unit-body {
        margin-right: 3%;
        margin-left: 3%;
    }

    .the-footer h4 a {
        font-size: 1em;
    }

    .search-form .results .entry-date {
        display: block;
        float: right;
    }
}