@import "variables";

$size: 48;

@mixin get-ico-image($name) {
    background-image: url('#{$github-url}/assets/images/simple-icons/#{$name}-#{$size}.png');
}

.social-links {
    a {
        text-indent: -9999em;
        opacity: .3;
        background-repeat: no-repeat;
        background-position: center center;
        filter: alpha(opacity=30);

        &:hover {
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
            opacity: 1.0;
            filter: alpha(opacity=100);
        }
    }

    .ico-gmail {
        @include get-ico-image(gmail);
        background-color: #d14836;
    }

    .ico-github {
        @include get-ico-image(github);
        background-color: #181717;
    }

    .ico-stackoverflow {
        @include get-ico-image(stackoverflow);
        background-color: #fe7a16;
    }

    .ico-nowcoder {
        @include get-ico-image(nowcoder);
        background-color: #31363d;
    }

    .ico-leetcode {
        @include get-ico-image(leetcode);
        background-color: #ffffff;
    }
}