---
layout: blog
---
<article class="unit-article layout-page">
    <div class="unit-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner">
                        <h1 class="entry-title">{{ page.header }}</h1>
                    </div>
                </div>
            </header>

<!--article start-->
{{ content }}
<!--article end-->

            <footer class="unit-foot">
                <div class="unit-inner">
                    <p>
                        <a class="gotop"><i class="fas fa-arrow-up"></i></a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</article>