---
layout: blog
---
<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div itemscope itemtype="http://schema.org/Article" class="content">
            <header>
                <div class="unit-head">
                    <div class="unit-inner">
                        <h1 itemprop="name"><span class="entry-title">{{ page.title }}</span></h1>
                    </div>
                </div>
            </header>
            <div class="meta">
                <section class="date-publish">
                    <button>
                        <i class="fas fa-calendar-alt article-icon"></i>{{ site.data.i18n[site.lang].published }}:
                        <time itemprop="datePublished" class="date-pub {% if page.last_updated == null %}updated{% endif %}"
                              data-tippy-content="{{ page.date | date: '%F' }} {{ page.date | date: '%T' }}" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%F' }}
                        </time>
                        by
                        <a class="author" href="{{ site.baseurl | prepend: site.url }}/" rel="author" data-tippy-content="{{ site.data.i18n[site.lang].show_author }}">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{% if page.author == null %}{{ site.author.name }}{% else %}{{ page.author }}{% endif %}</span>
                        </span>
                        </a>
                    </button>{% if page.last_updated %}
                    <button><i class="fas fa-calendar-alt article-icon"></i>{{ site.data.i18n[site.lang].last_updated}}:
                        <time class="date-updated updated" data-tippy-content="{{ page.last_updated | date: '%F' }} {{ page.last_updated | date: '%T' }}" datetime="{{ page.last_updated | date_to_xmlschema }}">{{ page.last_updated | date: '%F' }}</time>
                    </button>{% endif %}
                </section>
                <ul class="list-category list-linear"><div class="list-head">{{ site.data.i18n[site.lang].categories }}:</div>
                    {% assign categories_list = page.categories | sort %}{% include helpers/categories_list %}
                </ul>
                <ul class="list-tag list-linear"><div class="list-head">{{ site.data.i18n[site.lang].tags }}:</div>
                    {% assign tags_list = page.tags | sort %}{% include helpers/tags_list %}
                </ul>
            </div>
            <div itemprop="articleBody">
                {{ content }}
            </div>
            <footer class="unit-foot">
                <div class="unit-inner">
                    <p>
                        <a class="gotop" data-tippy-content="{{ site.data.i18n[site.lang].back_to_top }}"><i class="fas fa-arrow-up"></i></a>
                    </p>
                    <nav class="pagination">{% if page.previous %}
                        <div class="prev">
                            <span class="line line-top"></span>
                            <span class="line line-right"></span>
                            <span class="line line-bottom"></span>
                            <span class="line line-left"></span>
                            <a class="internal" rel="prev" data-tippy-content="{{ page.previous.title }}" href="{{ page.previous.url | relative_url | prepend: site.url }}">🔥 上一篇</a>
                        </div>
                        {% endif %}{% if page.next %}
                        <div class="next">
                            <span class="line line-top"></span>
                            <span class="line line-right"></span>
                            <span class="line line-bottom"></span>
                            <span class="line line-left"></span>
                            <a class="internal" rel="next" data-tippy-content="{{ page.next.title }}" href="{{ page.next.url | relative_url | prepend: site.url }}">下一篇 🔥</a>
                        </div>{% endif %}
                    </nav>
                </div>
            </footer>
            <div class="misc-content">
                <div class="post-copyright-author"><span class="post-copyright-meta">本文作者: </span>
                    <a href="{{ site.baseurl | prepend: site.url }}/" rel="author" data-tippy-content="{{ site.data.i18n[site.lang].show_author }}">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{% if page.author == null %}{{ site.author.name }}{% else %}{{ page.author }}{% endif %}</span>
                        </span>
                    </a>
                </div>
                <div class="post-copyright-type"><span class="post-copyright-meta">本文链接: </span>
                    <a href="{{ page.url | relative_url | prepend: site.url | url_decode }}">{{ page.url | relative_url | prepend: site.url | url_decode }}</a>
                </div>
                {% if site.blog.cc_license and site.blog.cc_license_content %}<div class="post-copyright-notice"><span class="post-copyright-meta">版权声明: </span>
                    本博客所有文章除特别声明外，均采用
                    <a rel="license" href="{{ site.blog.cc_license }}" target="_blank" data-tippy-content="{{ site.data.i18n[site.lang].show_license }}"> {{ site.blog.cc_license_content }} </a>
                    许可协议。转载请注明出处！
                </div>{% endif %}
            </div>
        </div>
    </div>
</article>