<script src="{{ site.paths.gh-pages }}/assets/libs/fullPage.js/fullpage.min.js"></script>
<script src="{{ site.paths.gh-pages }}/assets/libs/javascripts/canvas_bg.min.js"></script>
<script>
    $(document).ready(function () {
        new fullpage('#fullpage', {
            fixedElements: '.site-notice',
            resize: false,
            scrollingSpeed: 500,

            afterLoad: function (origin) {
                if (origin.index === 1) {
                    $('#section0 .headings').removeClass('hidden').addClass('animate__fadeInDown');
                    $('#section0 .btn-continue').removeClass('hidden').addClass('animate__bounce');
                }
                if (origin.index === 0) {
                    $('#section1 h1, #section1 .social-links').removeClass('hidden').addClass('animate__fadeInUp');
                }
            },

            onLeave: function (origin, destination, direction) {
                if (origin.index === 0 && direction === 'down') {
                    $('#section0 .headings, #section0 .btn-continue').addClass('hidden').removeClass('animate__bounce animate__fadeInDown animate__wobble');
                }
                if (origin.index === 1 && direction === 'up') {
                    $('#section1 h1, #section1 .social-links').addClass('hidden').removeClass('animate__fadeInUp');
                }
            }
        });

        document.addEventListener('keyup', function (event) {
            let key = event.key;
            if ('Enter' === key) {
                fullpage_api.moveSectionDown();
            }
        });
    });
</script>